header {
    display: flex;

    svg {
        width: 24px;
        height: 24px;
        fill: none;
        stroke: hsl($hue-signature, 50%, 50%);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}