<!DOCTYPE html>
<html lang="en">

<head>

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_tracking_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics_tracking_id }}');
    </script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

    <title>{{ page.title }} / {{ site.title }}</title>

    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ page.permalink | absolute_url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">

    <meta property="og:description" content="{{ site.desc }}">
    <meta name="description" content="{{ site.desc }}">

    <link rel="canonical" href="{{ page.permalink | absolute_url }}">
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/_sass/main.css">

    <style>
        .page404 {
            width: 79%;
            display: flex;
            flex-direction: column;
            margin: 31px auto;

            .links {
                display: flex;
                flex-direction: column;
                gap: 7px;
                padding-left: 21px;
            }
        }
    </style>

</head>

<body>

    <header>
        <div class="opener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            <h1>{{ site.title }}: {{ page.title }}</h1>
        </div>
        <div class="links">
            <div class="box">
                {% for post in site.pages %}
                    {% if post.path contains 'pages/' %}
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ 'now' | date: '%Y' }} {{ site.author }}</p>
        <p>Built and <a href="https://github.com/nvfp/now-i-can-sleep">now-i-can-sleep</a> v{{ site.nics_ver }}</p>
    </footer>

    <script>
        const OPENER = document.querySelector('header .opener');
        const CHEVRON_RIGHT = document.querySelector('header .opener .chevron-right');
        const CHEVRON_DOWN = document.querySelector('header .opener .chevron-down');
        const LINKS = document.querySelector('header .links');

        // init
        CHEVRON_RIGHT.style.display = 'none';
        CHEVRON_DOWN.style.display = 'none';
        CHEVRON_RIGHT.style.display = 'block';

        // Make the OPENER clickable
        OPENER.addEventListener('click', () =>
        {
            // Toggle the chevron
            CHEVRON_RIGHT.style.display = CHEVRON_RIGHT.style.display === 'block' ? 'none' : 'block';
            CHEVRON_DOWN.style.display = CHEVRON_DOWN.style.display === 'block' ? 'none' : 'block';

            // Toggle the links
            LINKS.classList.toggle('shown');
        });
    </script>

</body>

</html>
