<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}

    <!-- nav.html will be generated during compilation -->
    {% include nav.html %}
    <!-- Navigation script -->
    <script>
        function toggleHolder(master) {
            // Note: The initial toggle sets the '.expanded' class on `master`,
            //       making master.classList.contains("expanded") evaluate to true.
            master.classList.toggle("expanded");
            const svgExpanded = master.querySelector('.head .expanded');
            const svgShrinked = master.querySelector('.head .shrinked');
            const holder = master.querySelector('.holder');

            if (master.classList.contains("expanded")) {
                svgExpanded.style.display = 'block';
                svgShrinked.style.display = 'none';
                holder.style.display = 'flex';
            } else {
                svgExpanded.style.display = 'none';
                svgShrinked.style.display = 'block';
                holder.style.display = 'none';
            }
        }

        // Select all div with class 'master' in <nav>
        const masters = document.querySelectorAll("nav .master");

        // For each master, bind click listener to the div 'head'
        masters.forEach((master) => {
            const head = master.querySelector('.head');
            head.addEventListener("click", () => toggleHolder(master));
        });

        // Get the navigation master.
        // The querySelector will find the first '.master' it comes across,
        // which is the outermost one and represents the navigation master.
        const navMaster = document.querySelector('nav .master');

        // Initial state: Expand only the navigation master
        toggleHolder(navMaster)
    </script>

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>