<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}

    <!-- nav.html will be generated during compilation -->
    {% include nav.html %}
    <!-- Navigation script -->
    <script>
        // Select all buttons in <nav>
        const NAV_BUTTONS = document.querySelectorAll("nav button");

        // Add click listener to each button
        NAV_BUTTONS.forEach((btn) => {
            btn.addEventListener("click", () => {

                let id = btn.id;
                let text = btn.textContent;
                // console.log(`DEBUG: id: ${id}`)

                // The div
                let div = document.querySelector(`nav #${id}-div`);

                if (text.startsWith("v")) {  // When expanded
                    div.style.display = 'none';
                    btn.textContent = ">" + text.slice(1);
                } else {  // When closed
                    div.style.display = 'flex';
                    btn.textContent = "v" + text.slice(1);
                }
            });
        });
    </script>

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>