<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

    <title>{{ page.title }}</title>

    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

    <link rel="canonical" href="{{ page.permalink | absolute_url }}">
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/_sass/main.css">

</head>

<body>

    <header>
        header
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ 'now' | date: '%Y' }} {{ site.author }}</p>
        <p>Built and <a href="https://github.com/nvfp/now-i-can-sleep">now-i-can-sleep</a> v{{ site.nics_ver }}</p>
    </footer>

</body>

</html>
